
h1
{
	color: rgb(31, 53, 132); 
	font-size: 40px;
}
.body_backgorund {
	background-image: url("bg1.jpg");
	background-position: center;
	background-size: contain;
}

#myCanvas{
	border-width:10px;
	background-color: #738678;
	border-style:ridge;

}
